USE [master]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VegetableManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VegetableManager]
GO
/****** Object:  Table [dbo].[PURCHASE_BILL]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_BILL](
	[idpurchasebill] [int] IDENTITY(1,1) NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[total] [float] NOT NULL,
	[username] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PURCHASE_BILL] PRIMARY KEY CLUSTERED 
(
	[idpurchasebill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE_BILL_DETAIL]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE_BILL_DETAIL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idpurchasebill] [int] NOT NULL,
	[idproduct] [varchar](15) NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_PURCHASE_BILL_DETAIL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PurchaseBillAndDetail]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create view [dbo].[PurchaseBillAndDetail] as
  select pb.*,pbd.idproduct,pbd.price,pbd.quantity from PURCHASE_BILL_DETAIL pbd inner join PURCHASE_BILL pb on pbd.idpurchasebill = pb.idpurchasebill
GO
/****** Object:  Table [dbo].[SELL_BILL]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELL_BILL](
	[idsellbill] [int] IDENTITY(1,1) NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[total] [float] NOT NULL,
	[customer] [varchar](11) NULL,
	[username] [varchar](50) NOT NULL,
	[discount] [smallint] NULL,
	[is_debit] [bit] NOT NULL,
 CONSTRAINT [PK_SELL_BILL] PRIMARY KEY CLUSTERED 
(
	[idsellbill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SELL_BILL_DETAIL]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELL_BILL_DETAIL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idsellbill] [int] NOT NULL,
	[idproduct] [varchar](15) NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_SELL_BILL_DETAIL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SellBillAndDetail]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create view [dbo].[SellBillAndDetail]
  as
  select sb.customer,sb.date,sb.discount,sb.total,sb.username,sb.is_debit,d.idproduct,d.idsellbill,d.price,d.quantity from SELL_BILL sb,SELL_BILL_DETAIL d where sb.idsellbill = d.idsellbill
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[type] [smallint] NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[idcategory] [varchar](5) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[idcategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[phonenumber] [varchar](11) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NULL,
	[rank] [smallint] NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEBT_PAYMENT]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEBT_PAYMENT](
	[customer_phone] [varchar](11) NULL,
	[pay] [float] NOT NULL,
	[pay_date] [smalldatetime] NOT NULL,
	[information] [nvarchar](max) NULL,
	[status] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOG]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[time] [datetime] NOT NULL,
	[username] [varchar](50) NULL,
	[action] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[idproduct] [varchar](15) NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[idcategory] [varchar](5) NULL,
	[idunit] [nvarchar](10) NULL,
	[storage_quantity] [bigint] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[idproduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_PRICE]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_PRICE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idproduct] [varchar](15) NOT NULL,
	[price] [float] NOT NULL,
	[date] [smalldatetime] NOT NULL,
	[status] [bit] NOT NULL,
	[type] [bit] NOT NULL,
 CONSTRAINT [PK_PRODUCT_PRICE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STORAGE]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STORAGE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idproduct] [varchar](15) NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_STORAGE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIT]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT](
	[idunit] [nvarchar](10) NOT NULL,
	[unit_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UNIT] PRIMARY KEY CLUSTERED 
(
	[idunit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_DATA]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_DATA](
	[username] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](255) NULL,
	[phonenumber] [varchar](11) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEBT_PAYMENT] ADD  CONSTRAINT [DF_DEBT_PAYMENT_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[SELL_BILL] ADD  CONSTRAINT [DF_SELL_BILL_discount]  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[SELL_BILL] ADD  CONSTRAINT [DF_SELL_BILL_is_debit]  DEFAULT ((0)) FOR [is_debit]
GO
ALTER TABLE [dbo].[DEBT_PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEBT_PAYMENT_CUSTOMER] FOREIGN KEY([customer_phone])
REFERENCES [dbo].[CUSTOMER] ([phonenumber])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DEBT_PAYMENT] CHECK CONSTRAINT [FK_DEBT_PAYMENT_CUSTOMER]
GO
ALTER TABLE [dbo].[LOG]  WITH CHECK ADD  CONSTRAINT [FK_LOG_USER_DATA] FOREIGN KEY([username])
REFERENCES [dbo].[USER_DATA] ([username])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LOG] CHECK CONSTRAINT [FK_LOG_USER_DATA]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([idcategory])
REFERENCES [dbo].[CATEGORY] ([idcategory])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_UNIT] FOREIGN KEY([idunit])
REFERENCES [dbo].[UNIT] ([idunit])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_UNIT]
GO
ALTER TABLE [dbo].[PRODUCT_PRICE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_PRICE_PRODUCT] FOREIGN KEY([idproduct])
REFERENCES [dbo].[PRODUCT] ([idproduct])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCT_PRICE] CHECK CONSTRAINT [FK_PRODUCT_PRICE_PRODUCT]
GO
ALTER TABLE [dbo].[PURCHASE_BILL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_BILL_USER] FOREIGN KEY([username])
REFERENCES [dbo].[USER_DATA] ([username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_BILL] CHECK CONSTRAINT [FK_PURCHASE_BILL_USER]
GO
ALTER TABLE [dbo].[PURCHASE_BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_BILL_DETAIL_PRODUCT] FOREIGN KEY([idproduct])
REFERENCES [dbo].[PRODUCT] ([idproduct])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PURCHASE_BILL_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_BILL_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[PURCHASE_BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASE_BILL_DETAIL_PURCHASE_BILL] FOREIGN KEY([idpurchasebill])
REFERENCES [dbo].[PURCHASE_BILL] ([idpurchasebill])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PURCHASE_BILL_DETAIL] CHECK CONSTRAINT [FK_PURCHASE_BILL_DETAIL_PURCHASE_BILL]
GO
ALTER TABLE [dbo].[SELL_BILL]  WITH CHECK ADD  CONSTRAINT [FK_SELL_BILL_CUSTOMER1] FOREIGN KEY([customer])
REFERENCES [dbo].[CUSTOMER] ([phonenumber])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SELL_BILL] CHECK CONSTRAINT [FK_SELL_BILL_CUSTOMER1]
GO
ALTER TABLE [dbo].[SELL_BILL]  WITH CHECK ADD  CONSTRAINT [FK_SELL_BILL_USER] FOREIGN KEY([username])
REFERENCES [dbo].[USER_DATA] ([username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SELL_BILL] CHECK CONSTRAINT [FK_SELL_BILL_USER]
GO
ALTER TABLE [dbo].[SELL_BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SELL_BILL_DETAIL_PRODUCT] FOREIGN KEY([idproduct])
REFERENCES [dbo].[PRODUCT] ([idproduct])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SELL_BILL_DETAIL] CHECK CONSTRAINT [FK_SELL_BILL_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[SELL_BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SELL_BILL_DETAIL_SELL_BILL] FOREIGN KEY([idsellbill])
REFERENCES [dbo].[SELL_BILL] ([idsellbill])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SELL_BILL_DETAIL] CHECK CONSTRAINT [FK_SELL_BILL_DETAIL_SELL_BILL]
GO
ALTER TABLE [dbo].[STORAGE]  WITH CHECK ADD  CONSTRAINT [FK_STORAGE_PRODUCT] FOREIGN KEY([idproduct])
REFERENCES [dbo].[PRODUCT] ([idproduct])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[STORAGE] CHECK CONSTRAINT [FK_STORAGE_PRODUCT]
GO
ALTER TABLE [dbo].[USER_DATA]  WITH CHECK ADD  CONSTRAINT [FK_USER_ACCOUNT] FOREIGN KEY([username])
REFERENCES [dbo].[ACCOUNT] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_DATA] CHECK CONSTRAINT [FK_USER_ACCOUNT]
GO
/****** Object:  StoredProcedure [dbo].[AddCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddCustomer] @PhoneNumber varchar(11), @CustomerName nvarchar(50),@Address nvarchar(255),@Rank int
as
insert into CUSTOMER values(@PhoneNumber,@CustomerName,@Address,@Rank)
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddUser] @Username varchar(50),@Name nvarchar(50), @Address nvarchar(50), @PhoneNumber varchar(11)
as
begin
insert into ACCOUNT values(@Username,'123',0)
insert into USER_DATA values(@Username,@Name,@Address,@PhoneNumber)

end
GO
/****** Object:  StoredProcedure [dbo].[BackUpDatabase]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BackUpDatabase] @Path nvarchar(max)
as
BACKUP DATABASE VegetableManager
TO DISK = @Path;
GO
/****** Object:  StoredProcedure [dbo].[DeleteCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteCustomer] @PhoneNumber varchar(11)
as
delete from CUSTOMER where phonenumber = @PhoneNumber
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserAndAccount]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteUserAndAccount] @Username varchar(50)
as
delete from ACCOUNT where username = @Username;
GO
/****** Object:  StoredProcedure [dbo].[GetAllAccount]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllAccount]
as
select ROW_NUMBER() over (order by newid()) as ID, a.* from ACCOUNT a
GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllCustomer] 
as
select ROW_NUMBER() over(order by customer_name) as id,* from CUSTOMER
GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomerHaveDebtWithDebtValue]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAllCustomerHaveDebtWithDebtValue]
as

select ROW_NUMBER() over(order by customer_name asc) as 'id', phonenumber,customer_name,total,SUM(coalesce(dp.pay, 0)) as 'pay'
from (select c.phonenumber,c.customer_name,SUM(s.total) as 'total' 
		from CUSTOMER c,SELL_BILL s
		where c.phonenumber =  s.customer and is_debit = 1
		group by phonenumber,c.customer_name) d left join DEBT_PAYMENT dp on d.phonenumber = dp.customer_phone
group by d.phonenumber,customer_name,total
GO
/****** Object:  StoredProcedure [dbo].[GetAllCustomerWithDebt]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllCustomerWithDebt]
as
select ROW_NUMBER() over(order by customer_name asc) as 'id', c.phonenumber,c.customer_name,coalesce(total,0) as 'total',SUM(coalesce(dp.pay, 0)) as 'pay'
from CUSTOMER c left join
		(select c.phonenumber,SUM(s.total) as 'total' 
		from CUSTOMER c,SELL_BILL s
		where c.phonenumber =  s.customer and is_debit = 1
		group by phonenumber) d on c.phonenumber = d.phonenumber left join DEBT_PAYMENT dp on c.phonenumber = dp.customer_phone
group by c.phonenumber,c.customer_name,total
GO
/****** Object:  StoredProcedure [dbo].[GetAllSellBill]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllSellBill]
as
select * from SELL_BILL
GO
/****** Object:  StoredProcedure [dbo].[GetAllUser]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllUser]
as
select * from USER_DATA
GO
/****** Object:  StoredProcedure [dbo].[GetBuyAndSellOfAllProduct]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[GetBuyAndSellOfAllProduct]
  as
  select p.idproduct,p.product_name,coalesce(SUM(s.price * s.quantity), 0) as N'sell',coalesce(sum(pb.price * pb.quantity),0) as N'buy' 
  from PRODUCT p left join (select * from PurchaseBillAndDetail) pb on pb.idproduct = p.idproduct left join (select * from SellBillAndDetail) s on s.idproduct = p.idproduct
  group by p.idproduct,p.product_name
GO
/****** Object:  StoredProcedure [dbo].[GetBuyAndSellOfAllProductFromDateToDate]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[GetBuyAndSellOfAllProductFromDateToDate] @DateFrom smalldatetime,@DateTo smalldatetime
  as
  select p.idproduct,p.product_name,SUM(s.price * s.quantity) as N'Sell',sum(pb.price * pb.quantity) as N'Buy' 
  from PRODUCT p left join (select * from PurchaseBillAndDetail where date between @DateFrom and @DateTo) pb on pb.idproduct = p.idproduct left join (select * from SellBillAndDetail where date between @DateFrom and @DateTo) s on s.idproduct = p.idproduct
  group by p.idproduct,p.product_name
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerByPhoneNumber]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetCustomerByPhoneNumber] @PhoneNumber varchar(11)
as
select * from CUSTOMER where phonenumber = @PhoneNumber
GO
/****** Object:  StoredProcedure [dbo].[GetDebtPayDetailOfCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetDebtPayDetailOfCustomer] @CustomerPhone varchar(11)
as

select ROW_NUMBER() over(order by pay_date) as 'id',* from DEBT_PAYMENT where customer_phone = @CustomerPhone
GO
/****** Object:  StoredProcedure [dbo].[GetDetailDebtOfCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetDetailDebtOfCustomer] @CustomerPhone varchar(11)
as 
select s.* from SELL_BILL s where s.is_debit = 1 and s.customer = @CustomerPhone
GO
/****** Object:  StoredProcedure [dbo].[GetLog]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetLog] 
as
select * from LOG
GO
/****** Object:  StoredProcedure [dbo].[GetOrderBillByMonthAndYear]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetOrderBillByMonthAndYear] @Month int,@Year int
as
select * from PURCHASE_BILL where MONTH(date) = @Month and YEAR(date) = @Year
GO
/****** Object:  StoredProcedure [dbo].[GetOrderBillByMonthAndYearFromDateToDate]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[GetOrderBillByMonthAndYearFromDateToDate] @DateFrom smalldatetime, @DateTo smalldatetime
  as
    select CAST(MONTH(date) AS VARCHAR(2)) + '-' + CAST(YEAR(date) AS VARCHAR(4)) as 'date', SUM(total) as 'total' 
	from PURCHASE_BILL 
	where date between @DateFrom and @DateTo
GROUP BY CAST(MONTH(date) AS VARCHAR(2)) + '-' + CAST(YEAR(date) AS VARCHAR(4))
GO
/****** Object:  StoredProcedure [dbo].[GetOrderBillFromDateToDate]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetOrderBillFromDateToDate] @DateFrom smalldatetime, @DateTo smalldatetime
  as
  select * from PURCHASE_BILL where date between @DateFrom and @DateTo
GO
/****** Object:  StoredProcedure [dbo].[GetSellBillById]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetSellBillById] @IdSellBill int
as
select * from SELL_BILL where idsellbill = @IdSellBill
GO
/****** Object:  StoredProcedure [dbo].[GetSellBillByMonthAndYear]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetSellBillByMonthAndYear] @Month int,@Year int
as
select * from SELL_BILL where MONTH(date) = @Month and YEAR(date) = @Year
GO
/****** Object:  StoredProcedure [dbo].[GetSellBillByMonthAndYearFromDateToDate]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetSellBillByMonthAndYearFromDateToDate] @DateFrom smalldatetime, @DateTo smalldatetime
  as
    select CAST(MONTH(date) AS VARCHAR(2)) + '-' + CAST(YEAR(date) AS VARCHAR(4)) as 'date', SUM(total) as 'total' 
	from SELL_BILL 
	where date between @DateFrom and @DateTo
GROUP BY CAST(MONTH(date) AS VARCHAR(2)) + '-' + CAST(YEAR(date) AS VARCHAR(4))
GO
/****** Object:  StoredProcedure [dbo].[GetSellBillDetail]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetSellBillDetail] @IdSellBill int
as
Select * from SELL_BILL_DETAIL where idsellbill = @IdSellBill;
GO
/****** Object:  StoredProcedure [dbo].[GetSellBillFromDateToDate]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[GetSellBillFromDateToDate] @DateFrom smalldatetime, @DateTo smalldatetime
  as
  select * from SELL_BILL where date between @DateFrom and @DateTo
GO
/****** Object:  StoredProcedure [dbo].[GetTotalDebtOfCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetTotalDebtOfCustomer] @CustomerPhone varchar(11)
as
select sum(total) as 'total' from SELL_BILL where customer = @CustomerPhone and is_debit = 1
group by customer
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPayOfCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetTotalPayOfCustomer] @CustomerPhone varchar(11)
as

select customer_phone,SUM(pay) as 'total' from DEBT_PAYMENT
where customer_phone = @CustomerPhone and status = 0
group by customer_phone
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUsername]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetUserByUsername] @Username varchar(50)
as
select * from USER_DATA where username = @Username
GO
/****** Object:  StoredProcedure [dbo].[MakeNewSellBill]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MakeNewSellBill] @Date smalldatetime, @Total float, @CustomerPhone varchar(11), @Username varchar(50),@Discount smallint,@IsDebit bit
as
insert into SELL_BILL values(@Date,@Total,@CustomerPhone,@Username,@Discount,@IsDebit)
GO
/****** Object:  StoredProcedure [dbo].[PayDebitByAmount]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[PayDebitByAmount] @CustomerPhone varchar(11),@Pay float,@PayDate smalldatetime,@Infomation nvarchar(max)
as
insert into DEBT_PAYMENT values (@CustomerPhone,@Pay,@PayDate,@Infomation,0)
GO
/****** Object:  StoredProcedure [dbo].[RemoveAllDebtOfCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RemoveAllDebtOfCustomer] @CustomerPhone varchar(11)
as
begin
update SELL_BILL set is_debit = 0 where customer = @CustomerPhone

end
GO
/****** Object:  StoredProcedure [dbo].[RemoveDebtOneBill]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[RemoveDebtOneBill] @IdBill int
as
update SELL_BILL set is_debit = 0 where idsellbill = @IdBill
GO
/****** Object:  StoredProcedure [dbo].[RestoreDatabase]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[RestoreDatabase] @Path nvarchar(max)
as
begin
RESTORE DATABASE VegetableManager
   FROM DISK = @Path WITH REPLACE;

end
GO
/****** Object:  StoredProcedure [dbo].[UpdateAccount]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateAccount] @Username varchar(50),@Password varchar(50), @Type int
as
update ACCOUNT set password = @Password, type = @Type where username = @Username
GO
/****** Object:  StoredProcedure [dbo].[UpdateCustomer]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateCustomer] @PhoneNumber varchar(11), @CustomerName nvarchar(50),@Address nvarchar(255),@Rank int
as
update CUSTOMER set customer_name = @CustomerName, address = @Address, Customer.rank = @Rank where phonenumber = @PhoneNumber
GO
/****** Object:  StoredProcedure [dbo].[UpdateDebitStatus]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[UpdateDebitStatus] @CustomerPhone varchar(11)
as
update DEBT_PAYMENT set status = 1 where status = 0 and customer_phone = @CustomerPhone
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateUser] @Username varchar(50),@Name nvarchar(50), @Address nvarchar(50), @PhoneNumber varchar(11)
as
Update USER_DATA set name = @Name,address  = @Address,phonenumber = @PhoneNumber
where username = @Username
GO
/****** Object:  StoredProcedure [dbo].[WriteLog]    Script Date: 14/05/2023 11:43:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[WriteLog] @Username varchar(50),@Time datetime,@Action nvarchar(max)
as
insert into dbo.LOG values(@Time,@Username,@Action)
GO
USE [master]
GO
use VegetableManager
go
insert into Account values ('admin','admin',1)
insert into User_DATA values ('admin','','','')
